<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bank Account Tracker</title>

    <link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="script.js" defer></script>
</head>

<body>
<div class="dual">
    <div id="transaction-history" class="box">
        <h1>Transactions history</h1>
        <table class="history-list">
		<tbody>
          {{#each transactions~}}
	        <tr>
				<td class="action{{#if (isDeposit this.action)}} deposit{{else}} withdrawal{{/if}}">{{#if (isDeposit this.action)}}+{{else}}-{{/if}}</td>
				<td class="amount{{#if (isAmountImportant this.amount)}} large{{/if}}">{{formatBalance this.amount}}</td>
				<td class="user">by {{this.user}}</td>
				<td>{{formatTimestamp this.timestamp}}</td>
			</tr>
          {{~/each}}
		</tbody>
        </table>
    </div>
	<div id="additional-info">
	    <div id="balance" class="box">
	        <h1>Balance</h1>

	        <p class="total">Total: {{formatBalance balance}}</p>

			<div class="members">
		        <h2>Members</h2>

		        <table>
				<tbody>
		          {{#each users~}}
		            <tr data-username="{{this.name}}">
						<td class="user">{{this.name}}</td>
						<td class="common-balance{{#if (isAmountNegative this.commonBalance)}} negative{{/if}}">{{formatBalance this.commonBalance}}</td>
					</tr>
		          {{~/each}}
				</tbody>
		        </table>
			</div>
	    </div>

	    <div id="technical-infos" class="box">
	        <h1>Technical informations</h1>
			<p>Last check: {{formatTimestamp lastCheckTimestamp}}</p>
			<p>Last transaction: {{formatTimestamp lastTransactionTimestamp}}</p>
			<p id="drift">Drift: <span class="{{#if (isDriftImportant drift)}}important{{/if}}">{{drift}}</span></p>
			<p id="websocket-info">WS: <span>connecting</span></p>
			<button id="reload">Reload</button>
	    </div>
    </div>
<div>
</body>
</html>

