<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bank Account Tracker</title>

    <link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="script.js" defer></script>
</head>

<body>
<div class="dual">
	<div id="history">
		<div id="one-day" class="box">
		    <h1>One day overview</h1>
	        <table class="one-day-overview-list">
			<tbody>
	          {{#each usersDelta~}}
		        <tr>
					<td class="user">{{this.name}}</td>
					<td class="delta{{#if (isAmountNegative this.delta)}} negative{{/if}}">{{#if (isAmountNegative this.commonBalance)}} - {{else}} + {{/if}}{{formatBalance this.delta}}</td>
				</tr>
	          {{~/each}}
			</tbody>
	        </table>
		</div>

	    <div id="transaction-history" class="box">
	        <h1>Transactions history</h1>
	        <table class="history-list">
			<tbody>
	          {{#each transactions~}}
		        <tr>
					<td class="action{{#if (isDeposit this.action)}} deposit {{else if (isTransfer this.action)}} transfer {{else}} withdrawal{{/if}}">{{#if (isDeposit this.action)}}+ {{else if (isTransfer this.action)}} ⬌ {{else}} - {{/if}}</td>
					<td class="amount{{#if (isAmountImportant this.amount)}} large{{/if}}">{{formatBalance this.amount}}</td>
					<td class="user">{{#if (isTransfer this.action)}} {{this.sender}} 🡒 {{/if}}</td>
					<td class="user">{{this.username}}</td>
					<td>{{formatTimestamp this.timestamp}}</td>
					<td>{{#if (isStackedTransaction this.number)}} (x{{this.number}}) {{else}} {{/if}}</td>
				</tr>
	          {{~/each}}
			</tbody>
	        </table>
			<p class="number-of-transactions">Shown {{transactions.length}} transactions on {{totalNumberOfTransactions}} recorded</p>
	    </div>
	</div>
	<div id="additional-info">
	    <div id="balance" class="box">
	        <p class="balance-info">Balance: {{formatBalance balance}} ({{calculPercentage balance maxBalance}}%)</p>
			<p class="balance-info additional">Max balance: {{formatBalance maxBalance}}</p>

			<p class="balance-info">Interests: {{ formatBalance bankInterest }}</p>
			
			<div class="members">
		        <h2>Members</h2>

		        <table>
				<tbody>
		          {{#each users~}}
		            <tr data-username="{{this.name}}">
						<td class="user">{{this.name}}</td>
						<td class="common-balance{{#if (isAmountNegative this.commonBalance)}} negative{{/if}}">{{formatBalance this.commonBalance}}</td>
					</tr>
		          {{~/each}}
				</tbody>
		        </table>
			</div>
	    </div>

		<div id="actions" class="box">
            <h1>Transfer</h1>
            <form id="transaction-form">
                <datalist id="users-list">
                  {{#each allUsers~}}
		            <option value="{{this.name}}">{{this.name}}</option>
		          {{~/each}}
                </datalist>

				<div>
	                <label for="amount">Amount:</label>
	                <input type="number" id="amount" name="amount" required>
				</div>

				<div>
	                <label for="from-user">From user:</label>
	                <input type="text" list="users-list" id="from-user" name="from-user" required>
				</div>

				<div>
	                <label for="to-user">To user:</label>
	                <input type="text" list="users-list" id="to-user" name="to-user" required>
				</div>

                <button id="transfer">Transfer</button>
            </form>
            <span id="transfer-logs"></span>
        </div>

	    <div id="technical-infos" class="box">
	        <h1>Technical informations</h1>
			<p>Last check: {{formatTimestamp lastCheckTimestamp}}</p>
			<p>Last transaction: {{formatTimestamp lastTransactionTimestamp}}</p>
			<p id="drift">Drift: <span {{#if (isDriftImportant drift)}}class="important"{{/if}}>{{drift}}</span></p>
			<p id="websocket-info">WS: <span>connecting</span></p>
			<button id="reload" action="submit">Reload</button>
	    </div>
    </div>
</div>
</body>
</html>
