<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bank Account Tracker</title>

    <link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="script.js" defer></script>
</head>

<body>
<div class="dual">
    <div id="transaction-history" class="box">
        <h1>Transactions history</h1>
        <ul class="history-list">
          {{#each transactions~}}
	        <li>
				<span class="action {{#if (isDeposit this.action)}}deposit{{else}}withdrawal{{/if}}">{{#if (isDeposit this.action)}}+{{else}}-{{/if}}</span>
				{{formatBalance this.amount}} by <span class="user">{{this.user}}</span> — {{formatTimestamp this.timestamp}}
			</li>
          {{~/each}}
        </ul>
    </div>
	<div id="additional-info">
	    <div class="box balance">
	        <h1>Balance</h1>

	        <p class="total">Total: {{formatBalance balance}}</p>

			<div class="members">
		        <h2>Members</h2>

		        <ul>
		          {{#each users~}}
		            <li>
						<span class="user">{{this.name}}</span>: {{formatBalance this.commonBalance}} + {{formatBalance this.personalBalance}}
					</li>
		          {{~/each}}
		        </ul>
			</div>
	    </div>

	    <div id="technical-infos" class="box">
	        <h1>Technical informations</h1>
			<p>Last check: {{formatTimestamp lastCheckTimestamp}}</p>
			<p>Last transaction: {{formatTimestamp lastTransactionTimestamp}}</p>
			<button id="reload">Reload</button>
	    </div>
    </div>
<div>
</body>
</html>

